@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  @apply font-mono;
}

@font-face{
  font-family: "iloveglitter";
  src: url('../static/iloveglitter.ttf');
}

.header{
  font-family: "iloveglitter";
}